<div class="row">
    <div class="col-sm-6">
        <div class="btn-group text-center float-right mr-3">
            <a class="btn btn-secondary" [ngClass]="{'active': postType=='post'}" (click)="changePostType('post')">New post</a>
            <a class="btn btn-secondary" [ngClass]="{'active': postType=='product'}" (click)="changePostType('product')">Product</a>
        </div>
        <br>
        <br>
        <br>
        <div *ngIf="postType=='post'">
            <app-image-upload (imageId)="imageUploaded($event)"></app-image-upload>
            <hr class="mt-5">
            <div class="form-group col-sm-4 offset-sm-4 mt-3">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="campaign.post.description"></textarea>
            </div>
        </div>
        <div *ngIf="postType=='product'">
            <div class="form-group text-center">
                <label>Product: </label>
                <select class="form-select ml-3" aria-label="Default select example"  [(ngModel)]="selectedProduct">
                    <option value="">--</option>
                    <option *ngFor="let p of products" [ngValue]="p">{{p.name}}</option>
                  </select>

                </div>
            <div *ngIf="selectedProduct.id" class="container text-center jumbotron col-4 mt-2">
                <img src="http://localhost:8000/image_service/image/{{selectedProduct.image}}" width="100%">
            </div> 
            <hr class="mt-5">
            <div class="form-group col-sm-4 offset-sm-4 mt-3">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea class="form-control" disabled id="exampleFormControlTextarea1" rows="3" [(ngModel)]="selectedProduct.name"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="btn-group text-center">
            <a class="btn btn-secondary" [ngClass]="{'active': campaign.campaign_type=='single'}" (click)="campaign.campaign_type='single'">Single Campaign</a>
            <a class="btn btn-secondary" [ngClass]="{'active': campaign.campaign_type=='multi'}" (click)="campaign.campaign_type='multi'">Multi Campaign</a>
        </div>
        <br>
        <br>

        <div class="row">
            <form class="form-inline ml-3">
                <div class="form-group">
                  <div class="input-group">
                    <label>Start: </label>
                    <input class="form-control ml-3" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="startDate" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                    </div>
                  </div>
                </div>
              </form>
              <ngb-timepicker class="ml-3" [(ngModel)]="startTime"></ngb-timepicker>
        </div>
        <div class="row" *ngIf="campaign.campaign_type=='multi'">
            <form class="form-inline ml-3">
                <div class="form-group">
                  <div class="input-group">
                    <label >End: </label>
                    <input class="form-control ml-3" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="endDate" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                    </div>
                  </div>
                </div>
              </form>
              <ngb-timepicker class="ml-3" [(ngModel)]="endTime"></ngb-timepicker>
        </div>
        <div class="row" *ngIf="campaign.campaign_type=='multi'">
            <div class="form-group ml-3">
              <label for="countFormControl">Times to show: </label>
              <input type="number" class="form-control" id="countFormControl" name="countInput" [(ngModel)]="campaign.count">
            </div>

        </div>

        <hr>

        <div class="row text-center">
            <div class="form-group ml-3">
              <label for="genderFormControl">Gender</label>
              <input type="text" class="form-control"  id="genderFormControl" name="genderInput" placeholder="Gender" [(ngModel)]="campaign.gender">
            </div>
            <div class="form-group ml-3">
              <label for="countryFormControl">Country</label>
              <input type="text" class="form-control"  id="countryFormControl" name="countryInput" placeholder="Country" [(ngModel)]="campaign.country">
            </div>

        </div>

        <div class="row">
            
            <div class="form-group ml-3">
                <label for="minAgeFormControl">Minimum age</label>
                <input type="number" class="form-control"  id="minAgeFormControl" name="minAgeInput" [(ngModel)]="campaign.gender">
              </div>
              <div class="form-group ml-3">
                <label for="maxAgeFormControl">Maximum age</label>
                <input type="number" class="form-control"  id="maxAgeFormControl" name="maxAgeInput"  [(ngModel)]="campaign.gender">
              </div>
        </div>
        <div class="row">
            <div class="text-center">
                <button class="btn btn-secondary mt-2 ml-3" (click)="onSubmit()">Submit</button>
    
            </div>

        </div>
    </div>
    
</div>
