
<div class="col-sm-6 offset-sm-3  col-md-4 offset-md-4 mt-4">
    <div class="card">
        <img *ngIf="post.product_id" class="card-img-top cursorPointer" [src]="image_url + '/image/' + post.image"   (click)="goToProductPage()">
        <img *ngIf="!post.product_id" class="card-img-top cursorPointer" [src]="image_url + '/image/' + post.image"   (click)="openDetails()">
        <div class="card-block">
                <h4 class="card-title cursorPointer" [routerLink]="['/profile', post.profile_username]">{{post.profile_username}}
                    <span class="float-right">
                        {{post.likes}}
                        <fa-icon  [ngClass]="{'highlighted': post.liked_by_user}" [icon]="faHeart" (click)="updateReaction(true)"></fa-icon>
                        {{post.dislikes}}
                        <fa-icon  [ngClass]="{'highlighted': post.disliked_by_user}" [icon]="faTrash" (click)="updateReaction(false)"></fa-icon>
                    </span>
                </h4>
            <!-- <div class="meta">
                <a href="#">Friends</a>
            </div> -->
            <div class="card-text">
                {{post.description}}
            </div>
        </div>
        <div class="card-footer">
            <span *ngIf="post.sponsored">Sponsored</span>
            <span class="float-right">{{post.timestamp | date}}</span>
            <!-- <span><i class=""></i>75 Friends</span> -->
        </div>
    </div>
</div>