<br>
<br>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <form (submit)="login()">
            <br>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="username"
                [(ngModel)]="credentials.username">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password"
                [(ngModel)]="credentials.password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>
        <div id="formFooter">
          <a class="underlineHover" [routerLink]="['/register']">Don't have an account? Register</a>
        </div>

    </div>
</div>